<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TODO</title>
</head>
<body>
    <h1>TODO List</h1>
    <a href="{% url 'task_create' %}">Create New Task</a>
    <ul>
        {% for task in tasks %}
            <li>
                <strong>{{ task.title }}</strong>
                {% if task.completed %}ВЫПОЛНЕНО{% endif %}
                <br>
                {{ task.description }}
                <br>
                <small>{{ task.created_at }}</small>
                <br>
                <a href="{% url 'task_update' task.pk %}">Edit</a>
                <a href="{% url 'task_delete' task.pk %}">Delete</a>
            </li>
        {% empty %}
            <li>No tasks yet.</li>
        {% endfor %}
    </ul>
</body>
</html>